<div class="container">
  <h1>Flat Details</h1>

<%= render 'form', flat: @flat %>
<br>
<%= link_to 'Show', @flat, class: "btn btn-sm btn-outline-secondary" %>
<br>
<br>
<%= link_to 'Back', root_path, class: "btn btn-sm btn-outline-secondary" %>

</div>
