<div class="container">
  <h1>New Flat</h1>

<%= render 'form', flat: @flat, class: "btn btn-sm btn-outline-secondary" %>
<picture>
  <source media="(min-width: )" srcset="">
  <img src="" alt="">
</picture>
<br>
<%= link_to 'Back', root_path, class: "btn btn-sm btn-outline-secondary" %>

</div>
