
<div class="confirmation--div">
  <div class="row ">
    <div class="col-sm image-conf rounded">

    </div>
    <div class="col-sm d-flex align-items-center  conf-inf">
      <div class="container">
        <h1 class="m-3 ">Your booking has been confirmed <i class="fas fa-check-circle fa-sm m-3"></i></h1>
        &nbsp; &nbsp;&nbsp;&nbsp;<%= link_to 'My Bookings', bookings_path, class: "btn btn-sm btn-primary" %>
      </div>



    </div>

  </div>




</div>
