<div class="container">

  <h1>Pages#home</h1>
  <%# <%= cl_image_tag("gsgshrbkq2xd8yzsann5",
      width: 400, height: 300, crop: :fill) %> %>
<p>Find me in app/views/pages/home.html.erb</p>


</div>
