.navbar-lewagon {
  justify-content: space-between;
  background: rgba(240, 240, 240, 1)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  margin-left:25px;
}

.sticky-nav {
position:fixed;
top:0;
left:0;
right:0;
z-index:1030;
background: rgba(240, 240, 240, 0.5);
}
